<div class='comment' id='<%= dom_id(comment) %>'>
	<p>
		Author: <%= comment.author %>
	</p>
	
	<p>
		Body: <%= comment.content %>
	</p>
	
	<p>Status: <%= comment.approved? ? 'Approved' : 'Unapproved' %></p>
	
	<% if policy(@comment).approve? %>
		
		<% if comment.approved? %>
			
			<%= link_to 'Unapprove', article_comment_path(@article, comment, params: { comment: { approved: false } }), method: :patch %>
				
		<% else %>

			<%= link_to 'Approve', article_comment_path(@article, comment, params: { comment: { approved: true }}), method: :patch %>
		  
		<% end %>
		
	<% end %>
</div>