<div class='article' id='<%= article.id %>'>
	<h1 class='title'>
		<%= link_to article.title, article_path(article, class: 'link') %>
	</h1>
	<p id='author'><%= article.author.email %></p>
	<p class='body'><%= article.body %></p>
	<div class='tools'>
		<%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Delete', article_path(article), method: :delete %>
	</div>
	
</div>