<header>
	<div id='about-me'>
		<%= image_tag('headshot.jpg') %>
		<h1><%= link_to 'Andrew Sinner', root_url, class: 'title' %></h1>
		<h2 class='description'>Hi, I’m Andrew and I’m a Ruby on Rails developer based in Seattle, WA. I spend my time <%= link_to 'building', projects_path %> web apps and <%= link_to 'writing', articles_path %> on business and software development. Find out more <%= link_to 'about me ›' %></h2>		
	</div>
</header>