%nav#admin-nav
	%ul
		%li= link_to 'Site', root_path
		%li= link_to 'Dashboard', admin_articles_path
		%li= link_to 'New +', new_admin_article_path
		%li= link_to 'Projects', admin_projects_path
		%li= link_to 'Project +', new_admin_project_path
		%li= link_to 'Sign out', destroy_user_session_path, method: :delete